<h2>User Info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= user.introduction %></td>
    </tr>
  </tbody>
</table>
<%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
<i class="fa-solid fa-user-gear", class: "btn btn-block"></i>
<% end %>

<h2 class='mt-3'>New book</h2>
<%= render "layouts/error", obj:book %>
<%= form_with model: book, html: {class: 'form-horizontal'} do |f| %>
<div class="form-group">
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :body, "Opinion" %>
  <%= f.text_area :body, rows: 4, class: "form-control" %>
</div>
<div class="form-group">
   <%= f.submit 'Create Book', class: "btn btn-success" %>
</div>
<% end %>